<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="wrapper">

      <header>
        <h2>{{ site.owner.name }}</h2>
        <p>{{ site.owner.bio }}</p>
        <p>
          I'm on 
          <a href="https://github.com/{{ site.owner.github }}">Github</a>
          and <a href="https://twitter.com/{{ site.owner.twitter }}">Twitter</a>
        </p>
      </header>

      <section>

        {{ content }}

      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

    </div>

    <script src="/assets/javascripts/scale.fix.js"></script>
  </body>
</html>
